<div id="post_content">
  <h1 class="title">
    <%= @subject.title %>
  </h1>

  <p class="date">
    <%= time_ago_in_words(@subject.created_at) %> önce
    <% if user_signed_in? %>
    | <%= link_to 'Düzenle', edit_subject_path(@subject) %>
    | <%= link_to 'Sil', subject_path(@subject), method: :delete, data: { confirm: 'Emin misin?'} %>
    <% end %>
  </p>

  <p class="body">
    <%= @subject.description %>
  </p>

  <div id="comments">
    <h2><%= @subject.comments.count %> Yorum</h2>
    <%= render @subject.comments %>

    <h3>Yorum Ekle</h3>
    <%= render 'comments/form' %>
  </div>

</div>
