<div id="post_content">
  <h1 class="title">
    <%= @subject.title %>
  </h1>

  <p class="date">
    <%= time_ago_in_words(@subject.created_at) %> önce
    | <%= link_to 'Düzenle', edit_subject_path(@subject) %>
    | <%= link_to 'Sil', subject_path(@subject), method: :delete, data: { confirm: 'Emin misin?'} %>
  </p>

  <p class="body">
    <%= @subject.description %>
  </p>
</div>
